.DS_Store
**/.DS_Store
log.txt
**/log.txt
**/*.log

.ipynb_checkpoints/
**/.ipynb_chechpoints
__pycache__/
**/__pycache__
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv

**/target
**/out

*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
project.xcworkspace/
timeline.xctimeline
playground.xcworkspace
Packages/
.build/

.aider*
.idea

.logfire

local
db
ref
